.container-topo{
    background: #fff;
}

.menu {
    background: #006ACB
}

.nav-link {
    color: #C1E4FF
}

.nav-link:hover{
    color: #FFF
}

.banner {
  
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.banner .img{
    height: auto;
}


.active {
    color: #FFF 
}